.search-field {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    ::ng-deep .mat-form-field-wrapper {
        padding-right: 0 !important;
    }

    ::ng-deep .mat-form-field-suffix {
        display: flex;
        align-items: center;
    }

    .clear-button {
        height: 40px;
        width: 40px;
        min-width: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
    }
}