<h2>{{ 'lists.archived_lists' | transloco }}</h2>

<div *ngIf="isLoading">{{ 'lists.loading' | transloco }}</div>

<div *ngIf="!isLoading && archivedLists.length === 0">
  {{ 'lists.no_archived' | transloco }}
</div>

<div *ngIf="!isLoading && archivedLists.length > 0" class="archived-list-container">
  <mat-card *ngFor="let list of archivedLists" class="archived-list-card">
    <mat-card-title>
      {{ list.name }}
      <mat-icon color="accent">inventory_2</mat-icon>
    </mat-card-title>
    <mat-card-content>
      {{ list.products.length }} {{
        list.products.length === 1
          ? ('shared-lists.product_unit' | transloco)
          : ('shared-lists.product_plural' | transloco)
      }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="unarchiveList(list.id)">
        {{ 'lists.buttons.unarchive' | transloco }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
