<h2 mat-dialog-title>{{ "lists.edit.title" | transloco }}</h2>

<form [formGroup]="form" (ngSubmit)="save()" mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "lists.edit.name" | transloco }}</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-checkbox formControlName="archived">
    {{ "lists.edit.archived" | transloco }}
  </mat-checkbox>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-button type="button" (click)="cancel()">
      {{ "lists.edit.cancel" | transloco }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ "lists.edit.save" | transloco }}
    </button>
  </div>
</form>
