.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

mat-checkbox {
    margin-top: 1rem;
    display: block;
}

body.dark-theme {

    mat-form-field,
    input,
    mat-label,
    mat-checkbox {
        color: #f9fafb;
    }
}

.custom-snackbar {
  background-color: #111827;
  color: #f9fafb;
  font-weight: 500;
}
