<h2>{{ "reset-password.title" | transloco }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mat-elevation-z2">
  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>{{ "reset-password.password" | transloco }}</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>{{
      "reset-password.password_confirmation" | transloco
    }}</mat-label>
    <input matInput formControlName="password_confirmation" type="password" />
  </mat-form-field>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid || isLoading"
  >
    <span *ngIf="!isLoading">{{ "reset-password.submit" | transloco }}</span>
    <mat-progress-spinner
      *ngIf="isLoading"
      diameter="20"
      mode="indeterminate"
    ></mat-progress-spinner>
  </button>
</form>
