.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

mat-dialog-content {
  padding-top: 0;
}

body.dark-theme {
  mat-form-field,
  input,
  mat-label {
    color: #f9fafb;
  }
}

.custom-snackbar {
  background-color: #111827;
  color: #f9fafb;
  font-weight: 500;
}
