<mat-card class="form-card">
  <h2>{{ "profile.change_password" | transloco }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "profile.current_password" | transloco }}</mat-label>
      <input matInput type="password" formControlName="current_password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "profile.new_password" | transloco }}</mat-label>
      <input matInput type="password" formControlName="new_password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{
        "profile.new_password_confirmation" | transloco
      }}</mat-label>
      <input
        matInput
        type="password"
        formControlName="new_password_confirmation"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ "profile.update_password" | transloco }}
    </button>

    <div *ngIf="successMessage" class="success-msg">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>
  </form>
</mat-card>
