<h2 mat-dialog-title>{{ "lists.share.title" | transloco }}</h2>

<form [formGroup]="form" (ngSubmit)="share()" mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "lists.share.email" | transloco }}</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">
      {{ "lists.edit.cancel" | transloco }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ "lists.share.submit" | transloco }}
    </button>
  </div>
</form>

<div *ngIf="sharedUsers.length > 0" class="mt-4">
  <h3>{{ "lists.share.shared_with" | transloco }}</h3>
  <ul>
    <li *ngFor="let user of sharedUsers">
      {{ user.name || user.email }}
      <button
        mat-icon-button
        color="warn"
        (click)="revoke(user.id)"
        [matTooltip]="'lists.share.remove_access' | transloco"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</div>
