<h2 mat-dialog-title>Compartir lista</h2>

<form [formGroup]="form" (ngSubmit)="share()" mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Correo electrónico del usuario</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Compartir
    </button>
  </div>
</form>
