<h2 mat-dialog-title>
  {{ "product_dialog.title" | transloco }}
</h2>

<form
  [formGroup]="form"
  (ngSubmit)="confirm()"
  mat-dialog-content
  class="content-wrapper"
>
  <p>
    {{
      "product_dialog.summary"
        | transloco
          : {
              current: data.current,
              max: data.max,
              remaining: data.max - data.current
            }
    }}
  </p>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ "product_dialog.label" | transloco }}</mat-label>
    <input
      matInput
      type="number"
      formControlName="quantity"
      min="1"
      [max]="data.max - data.current"
      required
    />
  </mat-form-field>

  <div mat-dialog-actions class="actions">
    <button mat-button type="button" (click)="dialogRef.close()">
      {{ "product_dialog.dialog.cancel" | transloco }}
    </button>
    <button mat-button color="primary" type="submit" [disabled]="form.invalid">
      {{ "product_dialog.dialog.confirm" | transloco }}
    </button>
  </div>
</form>
