<!-- Título + botón de nueva lista -->
<div class="header-row">
  <h2>{{ "lists.my_lists" | transloco }}</h2>

  <button mat-raised-button color="primary" (click)="createList()">
    <mat-icon>add</mat-icon>
    {{ "lists.new_list" | transloco }}
  </button>
</div>

<!-- Carga -->
<mat-progress-spinner
  *ngIf="isLoading"
  diameter="40"
  mode="indeterminate"
></mat-progress-spinner>

<!-- Estado vacío -->
<mat-card
  *ngIf="!isLoading && lists.length === 0"
  class="empty-card mat-elevation-z1"
>
  <mat-icon class="empty-icon">list_alt</mat-icon>
  <h3>{{ "lists.no_lists" | transloco }}</h3>
  <p>{{ "lists.create_one" | transloco }}</p>
</mat-card>

<!-- Listas disponibles -->
<ul *ngIf="lists.length > 0" class="my-lists">
  <li *ngFor="let list of lists; let i = index" class="list-item">
    <div class="list-header" (click)="toggle(i)">
      <div>
        <strong>
          {{ list.name }}
          <mat-icon
            *ngIf="list.archived"
            matTooltip="{{ 'lists.archived' | transloco }}"
            class="archived-icon"
          >
            inventory_2
          </mat-icon>
        </strong>
        <span>
          ({{ list.products?.length || 0 }}
          {{
            list.products?.length === 1
              ? ("shared-lists.product_unit" | transloco)
              : ("shared-lists.product_plural" | transloco)
          }})
        </span>
      </div>
      <mat-icon>{{ expanded[i] ? "expand_less" : "expand_more" }}</mat-icon>
    </div>

    <ul *ngIf="expanded[i]" class="products-list">
      <li *ngFor="let product of list.products">{{ product.name }}</li>
    </ul>

    <div class="actions">
      <button mat-icon-button color="warn" (click)="deleteList(list.id)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="editList(list)">
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="accent"
        (click)="openProductManager(list, i)"
        matTooltip="{{ 'lists.buttons.manage_products' | transloco }}"
      >
        <mat-icon>inventory_2</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        (click)="shareList(list.id)"
        matTooltip="{{ 'lists.buttons.share' | transloco }}"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </li>
</ul>

<!-- Error -->
<div *ngIf="errorMessage" class="error-msg">
  {{ errorMessage }}
</div>
