<div class="header-row">
  <h2>{{ "lists.my_lists" | transloco }}</h2>

  <button mat-raised-button color="primary" (click)="createList()">
    <mat-icon>add</mat-icon>
    {{ "lists.new_list" | transloco }}
  </button>
</div>

<div *ngIf="isLoading" class="spinner-container">
  <mat-progress-spinner
    diameter="40"
    mode="indeterminate"
    color="primary"
  ></mat-progress-spinner>
</div>

<mat-card
  *ngIf="!isLoading && lists.length === 0"
  class="empty-card mat-elevation-z1"
>
  <div class="empty-icon-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="empty-icon"
      height="56"
      viewBox="0 0 24 24"
      fill="#111827"
    >
      <path
        d="M4 10.5c-.8 0-1.5.7-1.5 1.5S3.2 13.5 4 13.5 5.5 12.8 5.5 12 4.8 10.5 4 10.5Zm0-5c-.8 0-1.5.7-1.5 1.5S3.2 9.5 4 9.5 5.5 8.8 5.5 8 4.8 5.5 4 5.5ZM4 16c-.8 0-1.5.7-1.5 1.5S3.2 19.5 4 19.5 5.5 18.8 5.5 18 4.8 16 4 16Zm4.5 1.5H20v-1.5H8.5v1.5Zm0-5H20V11H8.5v1.5Zm0-6v1.5H20V6.5H8.5Z"
      />
    </svg>
  </div>
  <h3>{{ "lists.no_lists" | transloco }}</h3>
  <p>{{ "lists.create_one" | transloco }}</p>
</mat-card>

<ul *ngIf="lists.length > 0" class="my-lists">
  <li *ngFor="let list of lists; let i = index" class="list-item">
    <div class="list-header" (click)="toggle(i)">
      <div>
        <strong>
          {{ list.name }}
          <mat-icon
            *ngIf="list.archived"
            matTooltip="{{ 'lists.archived' | transloco }}"
            class="archived-icon"
          >
            inventory_2
          </mat-icon>
        </strong>
        <span>
          ({{ list.products?.length || 0 }}
          {{
            list.products?.length === 1
              ? ("shared-lists.product_unit" | transloco)
              : ("shared-lists.product_plural" | transloco)
          }})
        </span>
      </div>
      <mat-icon>{{ expanded[i] ? "expand_less" : "expand_more" }}</mat-icon>
    </div>

    <ul *ngIf="expanded[i]" class="products-list">
      <li *ngFor="let product of list.products">{{ product.name }}</li>
    </ul>

    <div class="actions">
      <button
        mat-icon-button
        color="warn"
        (click)="deleteList(list.id)"
        matTooltip="{{ 'lists.buttons.delete' | transloco }}"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <button
        mat-icon-button
        color="accent"
        (click)="editList(list)"
        matTooltip="{{ 'lists.buttons.edit' | transloco }}"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="accent"
        (click)="openProductManager(list, i)"
        matTooltip="{{ 'lists.buttons.manage_products' | transloco }}"
      >
        <mat-icon>inventory_2</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        (click)="shareList(list.id)"
        matTooltip="{{ 'lists.buttons.share' | transloco }}"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </li>
</ul>

<div *ngIf="errorMessage" class="error-msg">
  {{ errorMessage }}
</div>
