/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body.light-theme {
  background-color: #f9fafb;
  color: #111827;
}

body.dark-theme {
  background-color: #1f2937;
  color: #f9fafb;
}

.mat-toolbar,
.mat-sidenav {
  transition: background-color 0.3s ease;
}

body.dark-theme .mat-toolbar,
body.dark-theme .mat-sidenav {
  background-color: #111827;
  color: #f9fafb;
}
