@use '@angular/material' as mat;
@use 'sass:map';

// Paletas personalizadas
$custom-primary: mat.define-palette((500: #3B82F6,
      300: #60A5FA,
      700: #2563EB,
      contrast: (500: white,
        300: white,
        700: white,
      )));

$custom-accent: mat.define-palette((500: #10B981,
      300: #34D399,
      700: #059669,
      contrast: (500: white,
        300: white,
        700: white,
      )));

$custom-warn: mat.define-palette((500: #EF4444,
      300: #F87171,
      700: #B91C1C,
      contrast: (500: white,
        300: white,
        700: white,
      )));

// Tema claro
$light-theme: mat.define-light-theme((color: (primary: $custom-primary,
        accent: $custom-accent,
        warn: $custom-warn ),
      typography: mat.define-typography-config(),
      density: 0));

// Tema oscuro
$dark-theme: mat.define-dark-theme((color: (primary: $custom-primary,
        accent: $custom-accent,
        warn: $custom-warn ),
      typography: mat.define-typography-config(),
      density: 0));

// Clases para aplicar el tema según modo
.light-theme {
  @include mat.all-component-colors($light-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}