<mat-sidenav-container class="dashboard-container">
  <mat-sidenav
    #drawer
    class="sidebar"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    (closedStart)="drawerOpened = false"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="dashboard-content">
    <mat-toolbar color="primary" class="dashboard-toolbar">
      <button *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">{{ "dashboard.title" | transloco }}</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        (click)="toggleTheme()"
        [matTooltip]="
          isDark
            ? ('dashboard.theme_toggle_light' | transloco)
            : ('dashboard.theme_toggle_dark' | transloco)
        "
      >
        <mat-icon>{{ isDark ? "light_mode" : "dark_mode" }}</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="toggleLang()"
        matTooltip="Cambiar idioma"
      >
        <mat-icon>language</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
