<h2>Mis listas</h2>

<button mat-raised-button color="primary" (click)="createList()">
  <mat-icon>add</mat-icon>
  Nueva lista
</button>

<div *ngIf="isLoading">Cargando...</div>

<div *ngIf="!isLoading && lists.length === 0">No tienes listas creadas.</div>

<ul *ngIf="lists.length > 0" class="my-lists">
  <li *ngFor="let list of lists; let i = index" class="list-item">
    <div class="list-header" (click)="toggle(i)">
      <div>
        <strong>{{ list.name || list.title }}</strong>
        <span
          >({{ list.products.length }} producto{{
            list.products.length === 1 ? "" : "s"
          }})</span
        >
      </div>
      <mat-icon>{{ expanded[i] ? "expand_less" : "expand_more" }}</mat-icon>
    </div>

    <ul *ngIf="expanded[i]" class="products-list">
      <li *ngFor="let product of list.products">{{ product.name }}</li>
    </ul>

    <button mat-icon-button color="warn" (click)="deleteList(list.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
</ul>

<div *ngIf="errorMessage" style="color: red">
  {{ errorMessage }}
</div>
