<h2>¿Olvidaste tu contraseña?</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mat-elevation-z2">
  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>Correo electrónico</mat-label>
    <input matInput formControlName="email" type="email" />
  </mat-form-field>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid || isLoading"
  >
    <span *ngIf="!isLoading">Enviar correo</span>
    <mat-progress-spinner
      *ngIf="isLoading"
      diameter="20"
      mode="indeterminate"
    ></mat-progress-spinner>
  </button>

  <div class="extra-links">
    <a routerLink="/login">Volver al login</a>
  </div>
</form>
