<mat-nav-list>
  <a mat-list-item class="sidebar-item" routerLink="/dashboard">
    <mat-icon>home</mat-icon>
    <span *ngIf="!collapsed">Inicio</span>
  </a>
  <a mat-list-item class="sidebar-item" routerLink="/dashboard/shared-lists">
    <mat-icon>people</mat-icon>
    <span *ngIf="!collapsed">Listas compartidas</span>
  </a>
  <a mat-list-item class="sidebar-item" routerLink="/dashboard/lists">
    <mat-icon>list</mat-icon>
    <span *ngIf="!collapsed">Ver Listas</span>
  </a>
  <a mat-list-item class="sidebar-item" routerLink="/dashboard/archived-lists">
    <mat-icon>archive</mat-icon>
    <span *ngIf="!collapsed">Listas Archivadas</span>
  </a>
</mat-nav-list>
