<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    {{ "dashboard.menu.home" | transloco }}
  </a>
  <a mat-list-item routerLink="/dashboard/profile" routerLinkActive="active">
    {{ "dashboard.menu.profile" | transloco }}
  </a>
  <a
    mat-list-item
    routerLink="/dashboard/shared-lists"
    routerLinkActive="active"
  >
    {{ "dashboard.menu.shared_lists" | transloco }}
  </a>
  <a mat-list-item routerLink="/dashboard/lists" routerLinkActive="active">
    {{ "dashboard.menu.view_lists" | transloco }}
  </a>
  <a
    mat-list-item
    routerLink="/dashboard/archived-lists"
    routerLinkActive="active"
  >
    {{ "dashboard.menu.archived_lists" | transloco }}
  </a>
  <a mat-list-item (click)="logout()">
    {{ "dashboard.menu.logout" | transloco }}
  </a>
</mat-nav-list>
