<h2>{{ "register.title" | transloco }}</h2>

<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="mat-elevation-z2"
>
  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>{{ "register.name" | transloco }}</mat-label>
    <input matInput formControlName="name" type="text" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>{{ "register.email" | transloco }}</mat-label>
    <input matInput formControlName="email" type="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>{{ "register.password" | transloco }}</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>{{ "register.password_confirmation" | transloco }}</mat-label>
    <input matInput formControlName="password_confirmation" type="password" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" color="accent">
    <mat-label>{{ "register.role" | transloco }}</mat-label>
    <mat-select formControlName="role">
      <mat-option value="colaborador">{{
        "register.role_option_collaborator" | transloco
      }}</mat-option>
      <mat-option value="admin">{{
        "register.role_option_admin" | transloco
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="serverError" class="error">
    {{ serverError }}
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="isLoading || registerForm.invalid"
  >
    <span *ngIf="!isLoading">{{ "register.submit" | transloco }}</span>
    <mat-progress-spinner
      *ngIf="isLoading"
      diameter="20"
      mode="indeterminate"
    ></mat-progress-spinner>
  </button>

  <div class="extra-links">
    <a routerLink="/login">{{ "register.already_have_account" | transloco }}</a>
  </div>
</form>
