<h2>{{ "shared-lists.title" | transloco }}</h2>

<mat-progress-spinner
  *ngIf="isLoading"
  mode="indeterminate"
  diameter="40"
></mat-progress-spinner>

<div *ngIf="!isLoading && errorMessage" class="error">
  {{ errorMessage }}
</div>

<div *ngIf="!isLoading && !errorMessage && pagedLists.length === 0">
  {{ "shared-lists.no_lists" | transloco }}
</div>

<mat-accordion *ngIf="pagedLists.length > 0">
  <mat-expansion-panel
    *ngFor="let list of pagedLists; let i = index"
    [expanded]="isExpanded(i)"
  >
    <mat-expansion-panel-header (click)="toggle(i)">
      <mat-panel-title>
        {{ list.name }} ({{ list.products.length }}
        {{
          list.products.length === 1
            ? ("shared-lists.product_unit" | transloco)
            : ("shared-lists.product_plural" | transloco)
        }})
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul *ngIf="list.products.length > 0; else sinProductos">
      <li
        *ngFor="let product of list.products"
        class="product-item clickable"
        (click)="togglePurchased(product)"
      >
        <span [class.purchased]="product.purchased">
          {{ product.name }} (x{{ product.quantity }})
        </span>
      </li>
    </ul>

    <ng-template #sinProductos>
      <p>{{ "shared-lists.no_products" | transloco }}</p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  *ngIf="lists.length > pageSize"
  [length]="lists.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
>
</mat-paginator>
